@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper::-webkit-scrollbar{
    height: 8px;
}
.itemCourse{
    background-image: url("../assets/image.jpg");
    background-size: cover;
}